/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800;900&display=swap');
/* Lobster & Raleway */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(240deg, #663300, #fff, #663300);
    padding: 1px;
}

.todo-app {
    width: 80%;
    max-width: 540px;
    background: #fafafa;
    margin: 69px auto 30px;
    padding: 40px 30px 55px;
    border-radius: 12px;
    box-shadow: 0 0 10px #663300;
}

.todo-app .box-message {
    width: 75%;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
    padding: 15px 0;
    background: linear-gradient(135deg, #8fdb66, #ffffff);
    box-shadow: 1px 0.4px 2px #8fdb66;
    border-radius: 30px;
    display: none;
}

.todo-app .box-message .message {
    margin-left: 24px;
    text-align: center;
}

.todo-app .box-message button {
    border-radius: 50%;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    transition: ease 0.4s;
}

.todo-app .box-message button:hover {
    scale: 1.1;
}

.todo-app .box-message button:active {
    scale: 0.9;
}

.todo-app .box-message button img {
    width: 25px;
    height: 25px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

header h1 {
    display: flex;
    align-items: center;
    font-family: 'Lobster', sans-serif;
    font-weight: 450;
    font-size: 32px;
    letter-spacing: 3px;
    color: #48cd00;
    text-shadow: -2.5px 2.2px 0 #663300;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo .logo-img {
    background-image: url(./aset/logo_todolist-removebg-preview.png);
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
}

header .input-section {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fefefe;
    border-radius: 35px;
    padding-left: 6%;
    box-shadow: -0.5px 0.8px 5px #8fdb66;
}

header .input-section input {
    width: 70%;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 20;
    color: #000000;
}

header .input-section button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 35px;
    padding: 10px 6%;
    background: #48cd00;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    box-shadow: -1.2px 0 3px #8fdb66;
    transition: ease-in-out 0.2s;
}

header .input-section button:hover {
    background: #8fdb66;
}

header .input-section button img {
    width: 35px;
}


.task-container {
    margin-top: 35px;
    width: 100%;
}

.task-container .list-task li {
    list-style: none;
    padding: 12px 8px 12px 70px;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.task-container .list-task li.checked {
    color: #777;
    text-decoration: line-through;
}

.task-container .list-task li span {
    position: absolute;
    left: 0;
    top: 6px;
    width: 35px;
    height: 35px;
    background: transparent;
    background-image: url(./aset/remove_task_icon.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.task-container .list-task li span:hover {
    border: #dcdcdc solid 3px;
}

.task-container .list-task li::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    background-image: url(./aset/uncheck_green_icon.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    top: 11px;
    left: 40px;
}

.task-container .list-task li.checked::before {
    background-image: url(./aset/checked_icon.png);
}


footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 30px;
}

footer .footer-contaier span {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    color: #663300;
    text-shadow: -1px 0.6px 0 gray;
}


@media screen and (max-width: 720px) {
    header h1 {
      font-size: 22px;
      font-weight: 600;
    }

    header .input-section {
        width: 100%;
    }

    header img {
        width: 50px;
    }

    .todo-app {
        padding: 40px 15px 55px;
    }

    .todo-app .box-message {
        width: 90%;
    }

    .todo-app .box-message .message {
        font-size: 12px;
    }

    .todo-app .box-message button img {
        width: 20px;
        height: 20px;
    }
  }